$color-pink-light: #ffadad;
$color-champage-light: #ffd6a5;
$color-lemon-light: #fdffb6;
$color-tea-light: #caffbf;
$color-blue-light: #a0c4ff;
$color-purple-light: #bdb2ff;
$color-rose-light: #ffc6ff;

$color-pink-subtle: #ffebeb;
$color-champage-subtle: #fff5eb;
$color-lemon-subtle: #feffeb;
$color-tea-subtle: #eeffeb;
$color-blue-subtle: #feffeb;
$color-purple-subtle: #eeebff;
$color-rose-subtle: #ffebff;

$color-subtle-mauve: #d8bbff;
$color-subtle-levender: #d0d1ff;
$color-subtle-uranine: #c8e7ff;
$color-subtle-celeste: #c0fdff;
$color-subtle-candy: #ffcbf2;

$shadow-large: 0 4rem 8rem rgba(0, 0, 0, 0.4);
$shadow-medium: 0 3rem 6rem rgba(0, 0, 0, 0.25);
$shadow-small: 0 2rem 4rem rgba(0, 0, 0, 0.1);
