.list-wrapper {
  width: 100%;
}

.todo__lists {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $color-purple-subtle;
  }
  &-header h2 {
    color: $color-tea-light;
    font-size: 5rem;
    font-weight: 400;

    @media only screen and (max-width: 576px) {
      display: none;
    }
  }

  &-body {
    margin-top: 0.5rem;
  }

  &-headings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 1px solid $color-tea-light;
    padding: 1rem 0;

    &-id {
      flex: 0 0 5%;
    }
    &-title {
      flex: 0 0 15%;
    }

    &-desc {
      flex: 0 0 40%;
    }
    &-priority {
      display: flex;
      justify-content: center;
      flex: 0 0 15%;
    }
    &-status {
      flex: 0 0 10%;
    }
    &-dots {
      flex: 0 0 5%;
    }
  }
}

.filter__lists {
  border: 3px solid $color-champage-light;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: 0.5rem;

  &-select {
    border: 1px solid $color-champage-light;
    width: 20rem;
    padding: 0.4rem;
    cursor: pointer;
  }
}

.search__bar {
  width: 30%;
  text-align: center;

  input {
    font-family: inherit;
    border: 2px solid $color-pink-light;
    padding: 0.6rem 1rem;
    border-radius: 20rem;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    width: 40%;
  }
}
