.no__todo {
  background-color: $color-purple-subtle;
  width: 30rem;
  padding: 1rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-title {
    margin-bottom: 1rem;
  }
}
